.klever-primary-btn{
height: 40px;
background-color: #AA33B5;
border-radius: 8px;
border: none;
color: #fff;
font-weight: 700;
line-height: 20px;
padding: 0 20px;
cursor: pointer;
}

.klever-btn{

height: 40px;
background-color: gray;
border-radius: 8px;
border: none;
color: #fff;
font-weight: 700;
line-height: 20px;
padding: 0 20px;
cursor: pointer;
}
button:hover{
    background-color: #aa33b5bd;
    transition: background-color ease-in 0.2s;
}