.klever-primary-btn{
    min-width: 150px;
height: 50px;
background-color: #AA33B5;
border-radius: 8px;
border: none;
color: #fff;
font-weight: 700;
line-height: 40px;
padding: 0px 24px;
cursor: pointer;
font-size: 1.2em;
}

.klever-btn{
min-width: 150px;
height: 50px;
background-color: rgb(100, 99, 99);
border-radius: 8px;
border: none;
color: #fff;
font-weight: 700;
line-height: 20px;
padding: 0 20px;
cursor: pointer;
font-size: 1.2em;
}
.klever-primary-btn:hover{
    background-color: #aa33b5bd;
    transition: background-color ease-in 0.2s;
}

.klever-remove-btn{
    min-width: 150px;
    height: 50px;
    background-color: #920000;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    padding: 0px 24px;
    cursor: pointer;
    font-size: 1.2em;
    }