.detail-content{
    height: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 900;
    padding-left: 10px;
}
img{
    width: 65px;
  
}
.klever-button-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 1.3em;
    padding: 0px 40px;
    margin: 10px 20px;
}