.remove-button, .back-button, .default-button, .disabled-button {
  border: 0;
  border-radius: 6px;
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.default-button {
  background-color: var(--default-button-color);
}

.back-button {
  background-color: var(--back-color);
}

.remove-button {
  background-color: var(--remove-color);
}

.disabled-button {
  background-color: var(--disabled-button);
  color: var(--back-color);
  opacity: 0.4;
}

.edit-button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.edit-button > img {
  width: 15px;
}