header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2.5rem 0.6rem 1rem;
}

.logo {
  width: 10vw;
}

.shooting-star {
  align-items: center;
  align-self: flex-start;
  display: flex;
  padding: 0;
}

.shooting-star > img {
  width: 40px;
}

.form-header {
  width: 30vw;
}

.shooting-star > p {
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.4rem;
}

.title-and-button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: -25px;
}

.home-title-and-button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.page-title {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 600;
}