table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: 1rem;
  width: 100%;
}

.th-balance {  
  font-size: 0.8rem;
  text-align: right;
}

.th-token {
  font-size: 0.8rem;
  text-align: left;
}

.td-balance {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
}

.td-token {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

.table-button {
  padding: 0;
  text-align: center;
}
