body {
  background-color: #13152A;
  color: white;
  justify-content: center;
  margin: auto;
  width: 35%;
}

@media screen and (max-width: 500px) {
  body {
  margin: auto;
  justify-content: center;
  width: 85%;
  }
}