.klever-remove-btn{
    min-width: 150px;
    height: 50px;
    background-color: #920000;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    padding: 0px 24px;
    cursor: pointer;
    font-size: 1.2em;
    }
    .alert-container{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(5, 5, 5, 0.356);
        top: 0;
        left: 0;
       
    }
    .alert-wrapper{
        width: 500px;
        height: 250px;
        position: relative;
        background-color: white;
        border-radius: 10px;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        
       
    }
    .alert-wrapper p{
        font-family: "montserrat";
        position: absolute;
        top: 40%;
        left: 30px;
        font-weight: 500;
    }
    .btn-control-wrapper{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: right;
        align-items: flex-end;
        bottom: 10px;
        right: 20px;
        gap: 20px;
    }
    .alert-top{
        width: 100%;
        height: 50px;
        background-color: #920000;
        border-radius: 10px 10px 0 0;
    }