.nav-container{
    width: 100%;
    height: 210px;
    background-color: #13152A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-container img{
    width: 270px;
}