.add-body{
    width: 100vw;
    height: 100vh;
    background-color: #13152A;
}

.klever-container-add{
    width: 100%;
    display: flex;
    justify-content: center;
}

.klever-form-wrapper{
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.klever-wallet-wrapper{
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 13px;
   
}
.klever-button-wrapper{
    font-size: 1em;
    padding: 0px 80px;
    margin-bottom: 50px;
}
.klever-paragraph {
    font-size: 1.7em;
}