.add-token-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 40vh;
  flex-direction: column;
  align-items: center;
}

.add-top-container {
  display: flex;
  width: 600px;
  justify-content: space-around;
  align-items: center;
}

#add-span {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

#back-button {
  color: white;
  cursor: pointer;
  background-color: rgb(170, 51, 181);
  font-size: 15px;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 105px;
  margin-bottom: 9px;
}

#back-button:hover {
  background-color: rgb(190, 37, 204);
}

.add-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

label {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 900;
}

#token-input {
  display: block;
  width: 30em;
  height: 2em;
  border: none;
  border-radius: 4px;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

#balance-input {
  display: block;
  width: 30em;
  height: 2em;
  border: none;
  border-radius: 4px;
  margin-bottom: 2.5em;
  margin-top: 0.5em;
}

#save-button {
  color: white;
  background-color: rgb(170, 51, 181);
  font-size: 15px;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 105px;
  margin-left: 300px;
}

#save-button:hover {
  cursor: pointer;
  background-color: rgb(190, 37, 204);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#save-button:disabled {
  color: white;
  cursor: default;
  background-color: gray;
  font-size: 15px;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 105px;
  margin-left: 300px;
}