body {
  background-color: rgb(19, 21, 42);
}

.klever-logo-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#klever-logo {
  max-width: 200px;
}

.star-container {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}

#shooting-star {
  height: 100px;
}

#wish-span {
  font-size: 50px;
  margin-top: 15px;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 900;
}
