body {
  background-color: rgb(19, 21, 42);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.klever-logo-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#klever-logo {
  max-width: 175px;
}

.star-container {
  display: flex;
  width: 580px;
  margin-top: 55px;
  margin-right: 15px;
  justify-content: space-around;
  align-items: center;
}

.star-and-wish-container {
  display: flex;
}

#shooting-star {
  height: 55px;
}

#wish-span {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 12px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 900;
}

#add-button {
  color: white;
  background-color: rgb(170, 51, 181);
  font-size: 15px;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 105px;
  margin-bottom: 9px;
}
