#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tokenForms {
  width: 400px;
  margin: 50px;
}

.tokenForms button {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
}


.tokenFormsTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}

.tokenFormsMid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}

.tokenFormsBot {
  text-align: start;
  width: 100%;
}

.tokenFormsBot input {
  height: 30px;
  width: 100%;
}

.tokenFormsBot label {
  font-weight: 600;
  font-size: smaller;
}

.header {
  margin: 50px;
}

.tokensTable {
  border-collapse: collapse;
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

/* .thead {
  text-align: start;
}

.tbody {
  text-align: start;
} */


th {
  font-weight: normal;
  padding: 10px;
  font-weight: 600;
}

td {
  font-weight: 600;
  font-size: x-large;
  padding: 10px;
}